<nav class="navbar navbar-expand-lg navbar-light bg-light" tyle="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/inicio}">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.usuariosession != null}" sec:authorize="hasRole('ADMIN')" th:href="@{/panelAdmin}">Administrar</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Perfil</a>
            <div class="dropdown-menu">
             <a class="dropdown-item" th:href="@{/perfil}" >Editar Perfil</a>
             <hr class="dropdown-divider">
             <a class="dropdown-item" href="/logout" >Cerrar Sesión</a>            
        </li>
         <li class="nav-item">
          <a class="nav-link" th:if="${session.usuariosession == null}" th:href="@{/registrar}">Registrarse</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" th:if="${session.usuariosession == null}" th:href="@{/login}">Ingresar</a>
        </li>
      </ul>
    </div>
  </nav>
